    body{
        background-attachment: fixed;
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }
    .stop {
        background: tomato;
    }

    .start {
        background: green; 
    }
    .reset {
        background: rgb(255, 197, 71);
    }

  .fundo{
    padding: 20px 20px 20px 20px;
    background: white;
  }
.tempo{
    widht:200px;
  }
 
